<div class="card mx-auto">
    <div class="card-header d-flex">
        <div>Live Data</div>
        <div class="ms-auto">
            <label for="chkGraphs">Graphs</label>
            <input type="checkbox" id="chkGraphs" checked="true">
        </div>
    </div>
    <div class="card-body">
        {% if sensors|length > 0 %}
{#        {% if sensors|length == 1 %}#}
        <div class="pb-3 justify-content-center row sensorList">
{#        {% elif sensors|length == 2 %}#}
{#        <div class="justify-content-center row row-cols-sm-1 row-cols-md-2 sensorList">#}
{#        {% elif sensors|length == 2 %}#}
{#        <div class="justify-content-center row row-cols-sm-1 row-cols-md-2 row-cols-xl-3 sensorList">#}
{#        {% endif %}#}
            {% for sensor in sensors %}
            <div class="col">
                <div class="d-flex pb-2">
                    <div>{{sensor['desc']}}</div>
                    <div class="ms-auto" id="val_{{ sensor['pid'] }}">N/A</div>
                    <div>&nbsp;{{ sensor['unit'] }}</div>
                </div>
                <canvas id="chart_{{sensor['pid']}}" class="Chart" ></canvas>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No sensors could be loaded. Check the vehicle connection and try again.</p>
        {% endif %}

        <div class="d-flex">
            <input class='btn btn-primary me-2' type="button" id="btnStart" onclick="btnStart()" value="Start"/>
            <input class='btn btn-primary me-2' type="button" id="btnStop" onclick="btnStop()" value="Stop">
            <input class='btn btn-primary me-2' type="button" id="btnClear" onclick="btnClear()" value="Clear">

            <label for="txtRate" class="me-2">Polling rate</label>
            <input class='me-2' type="text" id="txtRate" onchange="txtRate()" value="2">

            <label for="txtLength" class="me-2">Chart length</label>
            <input class="me-2" type="text" id="txtLength" onchange="txtLength()" value="20">

            <input class="ms-auto btn btn-primary" type="button" id="btnBack" value="Back" onclick="btnStop(); navCard('/templates/card/selectsensors.html')"/>
        </div>
    </div>
</div>

<script>
    var charts = {};
    var dataLog = {};

    // get a JSON list of the sensors to read
    var sensors = {{ sensors|tojson }};

    // initialize each chart
    for (var sensor of sensors) {
        dataLog[sensor.pid] = [];
        charts[sensor.pid] =
            CreateChart(
                $('#chart_' + sensor.pid),
                //!! need to adjust range depending on sensor
                sensor.min, sensor.max
            )
        ;

        clearCharts(charts);
    }

    function btnStart() {
        socketio.emit('log_start')
        wasRunning = true;
    }

    function btnStop() {
        socketio.emit('log_stop')
        wasRunning = false;
    }

    function btnClear() {
        clearCharts(charts);
    }

    // validate the logging rate text box and send an event if it succeeds
    function txtRate() {
        // socketio.emit('log_rate', $('#txtRate').val())
        checkTxt('#txtRate', 'float', (val) => {
            socketio.emit('log_rate', val)
        })
    }

    // validate the graph length text box and change the local variable if it succeeds
    function txtLength() {
        // maxPoints = $('#txtLength').val()
        checkTxt('#txtLength', 'int', (val) => {
            //maxPoints = val;
            for (sensor of sensors) {
                resizeChart(charts[sensor.pid], val, dataLog[sensor.pid])
            }

            maxPoints = val;
            //resizeCharts(charts, val);
        })
    }

    var sensorList = $('.sensorList');

    $('#chkGraphs').click(function(event){
        // hide the graphs
        $('.Chart').prop('hidden', !this.checked);
        // append/remove the row-cols-1 class, which limits the display without the graphs to 1 column on small devices
        // weird stuff happens otherwise
        sensorList.toggleClass('row-cols-1');
    })

    // change the number of columns for graphs depending on number of sensors
    // e.g., if there is only one sensor, don't allow the 2 or 3 column layouts, so the graph is as large as possible
    if (sensors.length >= 1) {
        sensorList.addClass('row-cols-sm-1');
    }
    if (sensors.length >= 2) {
        sensorList.addClass('row-cols-md-2');
    }
    if (sensors.length >= 3) {
        sensorList.addClass('row-cols-xl-3');
    }

    txtLength(); // read default values from the page
    txtRate();


</script>