<div class="card mx-auto">
    <div class="card-header">
        Live Data
    </div>
    <div class="card-body">
        <div class="justify-content-center row row-cols-sm-1 row-cols-md-2 row-cols-xl-3">
            {% if sensors|length > 0 %}
                {% for sensor in sensors %}
                    <div class="col">
                        <div class="d-flex">
                            <div>{{sensor['desc']}}</div>
                            <div class="ms-auto" id="val_{{ sensor['pid'] }}">N/A</div>
                            <div>&nbsp;{{ sensor['unit'] }}</div>
                        </div>
                        <canvas id="chart_{{sensor['pid']}}" class="Chart" ></canvas>
                    </div>
                {% endfor %}
            {% else %}
                <p>No sensors could be loaded. Check the vehicle connection and try again.</p>
            {% endif %}
        </div>

        <div class="d-flex">
            <input class='btn btn-primary me-2' type="button" id="btnStart" onclick="btnStart()" value="Start"/>
            <input class='btn btn-primary me-2' type="button" id="btnStop" onclick="btnStop()" value="Stop">
            <input class='btn btn-primary me-2' type="button" id="btnClear" onclick="btnClear()" value="Clear">

            <label for="txtRate" class="me-2">Polling rate</label>
            <input class='me-2' type="text" id="txtRate" onchange="txtRate()" value="2">

            <label for="txtLength" class="me-2">Chart length</label>
            <input class="me-2" type="text" id="txtLength" onchange="txtLength()" value="20">

            <input class="ms-auto btn btn-primary" type="button" id="btnBack" value="Back" onclick="btnStop(); navCard('/templates/card/selectsensors.html')"/>
        </div>
    </div>
</div>

<script>
    var charts = [];
    var maxPoints = 20;

    // get a JSON list of the sensors to read
    var sensors = {{ sensors|tojson }};

    // initialize each chart
    for (var sensor of sensors) {
        charts[sensor.pid] = CreateChart(
            $('#chart_' + sensor.pid),
            //!! need to adjust range depending on sensor
            sensor.min, sensor.max
        )
    }

    // handle event when the server sends new data
    // push the new data onto each chart
    socketio.on('send_data', (data) => {
        for (sensor of data) {
            updateChart(
                charts[sensor.pid],
                sensor.val,
                sensor.elapsed
            )

            $('#val_' + sensor.pid).html(sensor.val)
        }
    });

    function btnStart() {
        socketio.emit('log_start')
    }

    function btnStop() {
        socketio.emit('log_stop')
    }

    function btnClear() {
        for (var i in charts) {
            clearChart(charts[i]);
        }
    }

    // validate the logging rate text box and send an event if it succeeds
    function txtRate() {
        // socketio.emit('log_rate', $('#txtRate').val())
        checkTxt('#txtRate', 'float', (val) => {
            socketio.emit('log_rate', val)
        })
    }

    // validate the graph length text box and change the local variable if it succeeds
    function txtLength() {
        // maxPoints = $('#txtLength').val()
        checkTxt('#txtLength', 'int', (val) => {
            maxPoints = val;
        })
    }

    txtLength(); // read default values from the page
    txtRate();


</script>