<div class="card mx-3 w-100">
    <div class="card-header d-block">
        <div class="d-flex align-items-center">
            <input class='btn btn-primary me-2' type="button" id="btnStart" onclick="btnStart()" value="Start"/>
            <input class='btn btn-primary me-2' type="button" id="btnStop" onclick="btnStop()" value="Stop">
            <input class='btn btn-primary me-2' type="button" id="btnClear" onclick="btnClear()" value="Clear">

            <label class="me-2" for="txtRate" >Polling delay (s):</label>
            <input class='me-2' type="text" id="txtRate" onchange="txtRate()" value="0.5" style="width: 3rem">

            <label class="me-2" for="txtLength" >Chart window (s):</label>
            <input class="me-2" type="text" id="txtLength" onchange="txtLength()" value="60" style="width: 3rem">

            <label class="me-2" for="chkGraphs">Graphs:</label>
            <input class="me-auto" type="checkbox" id="chkGraphs" checked="true">

            <div class="btn-group me-2">
                <a class="btn btn-primary disabled" id="aSaveLog">Download log</a>
                <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="btnSaveLogDdl" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <div id='ddlSaveLog' class="dropdown-menu">
                    {# menu entries will be inserted here #}
                </div>
            </div>

            <input class="btn btn-primary" type="button" id="btnBack" value="Back" onclick="btnStop(); navCard('/templates/card/selectsensors.html')"/>
        </div>
    </div>
    <div class="card-body">
        <h4>Live Data</h4>
        {# populate the document with canvases for each sensor chart #}
        {% if sensors|length > 0 %}
        <div class="justify-content-center row sensorList">
            {% for sensor in sensors %}
            <div class="col">
                <div class="d-flex pb-2">
                    <div>{{sensor['desc']}}</div>
                    <div class="ms-auto" id="val_{{ sensor['pid'] }}">N/A</div>
                    <div>&nbsp;{{ sensor['unit'] }}</div>
                </div>
                <canvas id="chart_{{sensor['pid']}}" class="Chart" ></canvas>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No sensors could be loaded. Check the vehicle connection and try again.</p>
        {% endif %}
    </div>
</div>

<script>
    var charts = {};
    var dataLog = {};
    var rate;

    // insert a JSON list of the sensors to read
    var sensors = {{ sensors|tojson }};

    // create chart objects for each canvas
    function initCharts() {
        // initialize each chart
        for (var sensor of sensors) {
            charts[sensor.pid] =
                CreateChart(
                    $('#chart_' + sensor.pid),
                    //!! need to adjust range depending on sensor
                    sensor.min, sensor.max
                )
            ;
        }
    }

    // populate the client's data log with empty lists for each sensor
    function initDataLog() {
        for (var sensor of sensors) {
            dataLog[sensor.pid] = [];
        }
    }

    // tell the server to start sending data
    function btnStart() {
        socketio.emit('log_start');
    }

    // tell the server to stop sending data
    function btnStop() {
        socketio.emit('log_stop')

        // update the list of log files
        $('#ddlSaveLog').load('/templates/menu/logfiles.html', function() {
            // set the main button to the URL of the latest log file
            $('#aSaveLog').prop('href', $('#ddlSaveLog a:eq(1)').prop('href'));
            // enable the main button
            $('#aSaveLog').removeClass('disabled');
        });
    }

    // clear the graphs and client data log
    function btnClear() {
        // clear data log
        initDataLog();
        // disable the "Download log" button until the user has logged more data
        $('#aSaveLog').addClass('disabled');
        $('#aSaveLog').prop('href', '');
        // clear charts
        clearCharts(charts);
    }

    // validate the logging rate text box and send an event if it succeeds
    function txtRate() {
        checkTxt('#txtRate', 'float', (val) => {
            socketio.emit('log_rate', val);
            rate = val;
        })
    }

    // validate the graph window text box and change the local variable if it succeeds
    function txtLength() {
        checkTxt('#txtLength', 'float', (seconds) => {
            // change seconds into the number of data points to show
            var val = seconds / rate;

            // limit the value
            if (val > maxData) {
                val = maxData;
                seconds = val * rate;
            }

            // overwrite the value entered
            // for example, if they enter "3000" seconds it will change to "2000" because the value was limited
            $('#txtLength').val(seconds);

            // resize each chart to the new length
            for (sensor of sensors) {
                resizeChart(charts[sensor.pid], val, dataLog[sensor.pid])
            }

            maxPoints = val;
        })
    }

    var sensorList = $('.sensorList');

    $('#chkGraphs').click(function(event){
        // hide the graphs
        $('.Chart').prop('hidden', !this.checked);
        // append/remove the row-cols-1 class, which limits the display without the graphs to 1 column on small devices
        // weird stuff happens otherwise
        sensorList.toggleClass('row-cols-1');
    })

    // change the number of columns for graphs depending on number of sensors
    // e.g., if there is only one sensor, don't allow the 2 or 3 column layouts, so the graph is as large as possible
    if (sensors.length >= 1) {
        sensorList.addClass('row-cols-sm-1');
    }
    if (sensors.length >= 2) {
        sensorList.addClass('row-cols-md-2');
    }
    if (sensors.length >= 3) {
        sensorList.addClass('row-cols-xl-3');
    }

    initCharts();
    initDataLog();

    txtRate(); // this needs to be first
    txtLength(); // read default values from the page

    clearCharts(charts);
    $('#ddlSaveLog').load('/templates/menu/logfiles.html');




</script>