<script>
    // submit form without refreshing the page
    $(document).ready(function() {
        $('#frmSelectSensors').submit(function(event) {
            event.preventDefault();
            $.post({
                url: '/forms/selectsensors',
                data: $('#frmSelectSensors').serialize(),
                success: function(data) {
                    $('#Content').html(data)
                }
            })
        })
    })

</script>

<div class="card mx-auto">
    <div class="card-header">
        Select Sensors
    </div>
    <div class="card-body">
        <h4>Select sensors to monitor:</h4>

        <form id="frmSelectSensors" method="post" action="/forms/selectsensors">
            <div id="sensorList" class="d-block pb-2">
                {% if sensors|length > 0 %}
                    <table>
                        <thead>
                            <th></th>
                            <th>PID</th>
                            <th>Name</th>
                            <th>Description</th>
                        </thead>
                        <tbody>
                            {% for sensor in sensors %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="chkSensors" value="{{ sensor['pid'] }}"/>
                                    </td>
                                    <td>
                                        {{ sensor['pid'] }}
                                    </td>
                                    <td>
                                        {{ sensor['name'] }}
                                    </td>
                                    <td>
                                        {{ sensor['desc'] }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No sensors could be loaded. Check the vehicle connection and try again.</p>
                {% endif %}
            </div>


            <div class="d-flex">
                <input type="submit" id="btnStart" value="Start"/>
                <input type="button" id="btnBack" value="Back" onclick="navCard('/static/card/start.html')" class="ms-auto"/>
            </div>
        </form>
    </div>
</div>