<script>
    // submit form without refreshing the page
    $(document).ready(function() {
        $('#frmSelectSensors').submit(function(event) {
            event.preventDefault();
            $.post({
                url: '/forms/selectsensors',
                data: $('#frmSelectSensors').serialize(),
                success: function(data) {
                    $('#Content').html(data)
                }
            })
        })
    })

</script>

<div class="card mx-auto">
    <div class="card-header">
        Select Sensors
    </div>
    <div class="card-body">
        <h4>Select sensors to monitor:</h4>

        <form id="frmSelectSensors" method="post" action="/forms/selectsensors">
            <div class="d-block pb-2">
                {% for sensor in sensors %}
                <input type="checkbox" name="chkSensors" value="{{sensor['id']}}"/>&nbsp;{{sensor['name']}}<br/>
                {% endfor %}
            </div>

            <div id="sensorList" class="d-block pb-2"></div>

            <div class="d-flex">
                <input type="submit" id="btnStart" value="Start"/>
                <input type="button" id="btnBack" value="Back" onclick="navCard('/static/card/start.html')" class="ms-auto"/>
            </div>
        </form>
    </div>
    <script>
        socketio.on('ready_sensors', () => {
            $('#sensorList').load('/templates/card/sensorlist.html')
        })

        socketio.emit('get_sensors')
    </script>
</div>