<table>
    <thead>
        <th></th>
        <th>PID</th>
        <th>Name</th>
        <th>Description</th>
    </thead>
    <tbody>
        {% for sensor in sensors %}
            <tr>
                <td>
                    <input type="checkbox" name="chkSensors" value="{{ sensor['pid'] }}"/>
                </td>
                <td>
                    {{ sensor['pidhex'] }}
                </td>
                <td>
                    {{ sensor['name'] }}
                </td>
                <td>
                    {{ sensor['desc'] }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
