{% extends "template.jinja" %}

{% block title %}
GONK
{% endblock %}

{% block centered %}
fuck you *centers your gonk* <br>
<img src="https://pbs.twimg.com/profile_images/1533374340192161793/OQnzNLNd_400x400.jpg">
{% endblock %}