<!doctype html>

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <h1>gonk</h1>
    <center>
        {% block centered %}
        {% endblock %}
    </center>
</body>