<!DOCTYPE html>

<head>
    <title>time</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

    <form id="frmTime" method="post"></form>
    
    Rate 
    <input id="txtInterval" type="text" value="1000" onblur="setIntv()"/>

    {# <p>Today is {{time}}</p> #}

    <p>The CPU load is <span id="pTime"></span></p>

    <script>
        //var frmTime = document.getElementById("frmTime");

        //$("#txtInterval").focusout(
            
        //)

        var intv = setInterval(timePostBack, 1000);

        function setIntv() {
            // get the value from the txtInterval control
            var num = $("#txtInterval").val();
            // if value is an integer:
            num = parseInt(num)
            if (!isNaN(num)) {
                clearInterval(intv);
                intv = setInterval(timePostBack, num);
            }
        }

        function timePostBack() {
            //frmTime.submit();

            $.post(
                // send POST request to localhost/time with no data
                "/time",
                // callback function. "data" is returned by the server
                function (data, status) {
                    // set the value of pTime to the returned data
                    $("#pTime").text(data);
                }
            );
        }

    </script>
</body>